ion-content{

    --ion-background-color:#111D12;
  }

  #a{
    position: relative;
    margin-top: 3% ;
    width: 50%;
    left: 10%;
    height: 100px;
    margin-bottom: 30px;
     
  }

  #b{
      background-color: #111D12;
      color: white;
      border-top: 1px solid #111D12;
      border-right: 1px solid #111D12;
      border-left: 1px solid #111D12;
      border-bottom: 1px solid white;
      font-weight: bold;
      padding-left: -20px;
      position: relative;
      margin-top: -10px;
      box-shadow: none;
  }

  #z{
      width: 80%;
      color: white;
      left: 10%;
      position: relative;
      font-size: 12px;
  }

  #x{
      background-color: orange;
      position: relative;
      top: 20px;
      
  }

  #p{
      font-size: 11px;
      color: white;
      
  }
  #o{
    font-size: 11px;
    color: white;
    position: relative;
    left: 20%;
    
  }

  #i{
      position: relative;
      width: 80%;
      left: 20%;
      margin-bottom: -14px;
  }

  #t{
      position: relative;
      width: 70%;
      font-size: 9px;
      color: white;
      background-color: #ffa500;
      margin-top: 25%;
      
  }